.hero-unit
  %h1 Kiipeilyajat
  %p  
    Löydä pari seinäkiipeilyyn haluamaasi aikaan!

- if flash[:msg_type] == :error
  %div(class="alert alert-error")
    = flash[:msg_content]
- if flash[:msg_type] == :info
  %div(class="alert alert-info")
    = flash[:msg_content]

%form.form-signin(action="/login" method="post")
  %h2 Kirjaudu sisään
  %input(type="text" placeholder="Käyttäjä" name="username")
  %input(type="password" placeholder="Salasana" name="password")
  %button.btn.btn-large.btn-primary(type="submit") Sisään

%hr
%form.form-signin(action="/newuser" method="post")
  %h2 Luo uusi käyttäjä
  %input(type="text" placeholder="Käyttäjänimi" name="username")
  %input(type="password" placeholder="Salasana" name="password")
  %button.btn.btn-large.btn-primary(type="submit") Rekisteröidy