.hero-unit
  %h1 Hello World!
  %p  
    A totally great subheading!

- if flash[:status_msg] == :login_error
  %div(class="alert alert-error")
    Wrong username or password!
- if flash[:status_msg] == :need_login
  %div(class="alert alert-info")
    You need to log in first!

%form.form-signin(action="/" method="post")
  %h2 Sign in
  %input(type="text" placeholder="Username" name="username")
  %input(type="password" placeholder="Password" name="password")
  %button.btn.btn-large.btn-primary(type="submit") Sign in