<form class="navbar-form pull-left" action="/login" method="post">
	<input type="text" placeholder="Username" name="username">
	<input type="password" placeholder="Password" name="password">
	<button type="submit">Sign in</button>
</form>